<div class='wrapper'>
    {{#if error}}
    <div class='alert alert-danger alert-dismissible fade show' style='max-width: 30%' role='alert'>
        <strong>{{error}}</strong>
        <button
            type='button'
            class='close'
            data-dismiss='alert'
            aria-label='Close'
        >
            <span aria-hidden='true'>&times;</span>
        </button>
    </div>
    {{/if}}
    <a href='/auth/logout' class='btn btn-light float-right mr-5'>Log out</a>
    <div class='app-wrapper'>

        <!--Wallet-->
        <aside class='wallet'>
            <h2 class='mt-2'>My Wallets</h2>
            <a href='/payment' class='btn btn-success float-right'>Pay tuition</a>
            <div class='cards'></div>
            <p><strong>Name: </strong>{{user.name}}</p>
            <p><strong>Phone: </strong>{{user.tel}}</p>
            <p><strong>Email: </strong>{{user.email}}</p>
        </aside>

        <content class='transactions-wrapper'>
            <h2>
                Current Balance
                <span class='total-balance money'>{{user.balance}}</span>
            </h2>
            <div class='transactions'>
                {{#each transactions}}
                    <div class='transaction-item debit'>
                        <div class='transaction-item_details'>
                            <h3>{{name}}</h3>
                            <span class='details mb-2'>{{detail}}</span><br>
                            <span class='details mt-2'>{{createdAt}}</span>
                        </div>
                        <div class='transaction-item_amount'>
                            <span>- </span><p class='amount money'> {{amount}}</p>
                        </div>
                    </div>
                {{/each}}
            </div>
        </content>
    </div>
</div>

<script>
    $(document).ready(function() {
    $('.money').html($('.money').html().replace(/(\d)(?=(\d\d\d)+(?!\d))/g,
    '$1.') + ' ₫'); })
</script>