<div class='wrapper'>
    <a href='/auth/logout' class='btn btn-light float-right mr-5'>Log out</a>
    <div class='app-wrapper'>

        <!--Wallet-->
        <aside class='wallet'>
            <h2 class='mt-2'>My Wallets</h2>
            <a href='/payment' class='btn btn-success float-right'>Pay tuition</a>
            <div class='cards'></div>
            <p><strong>Name: </strong>{{user.name}}</p>
            <p><strong>Phone: </strong>{{user.tel}}</p>
            <p><strong>Email: </strong>{{user.email}}</p>
        </aside>

        <content class='transactions-wrapper'>
            <h2>
                Current Balance
                <span class='total-balance'>{{user.balance}}</span>
            </h2>
            <div class='transactions'>
                {{#each transactions}}
                    <div class='transaction-item debit'>
                        <div class='transaction-item_details'>
                            <h3>{{name}}</h3>
                            <span class='details'>{{detail}}
                                -
                                {{createdAt}}</span>
                        </div>
                        <div class='transaction-item_amount'>
                            <span>- đ </span><p class='amount'>{{amount}}</p>
                        </div>
                    </div>
                {{/each}}
            </div>
        </content>
    </div>
</div>

<script>
    $(document).ready(function() {
    $('.total-balance').html($('.total-balance').html().replace(/(\d)(?=(\d\d\d)+(?!\d))/g,
    '$1.') + ' ₫'); })
</script>