<div class='container-fluid'>
    <a href='/' class='btn btn-light mt-4 ml-3 float-left'>Home</a>
    <div class='row justify-content-center'>
        <div
            class='col-11 col-sm-10 col-md-10 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2 '
        >
            <div class='card p-4 mt-3 mr-3 mb-3 pt-5 ' style="box-shadow: 0px 8px 24px 4px rgb(255 173 40)">
                <h2 id='heading'>Tuition payment</h2>
                <p>Fill all form field to go to next step</p>
                <form id='msform'>
                    <!-- progressbar -->
                    <ul id='progressbar'>
                        <li class='active' id='account'><strong
                            >Personal</strong></li>
                        <li id='personal'><strong>Tuition</strong></li>
                        <li id='payment'><strong>Checkout</strong></li>
                        <li id='confirm'><strong>Finish</strong></li>
                    </ul>
                    <div class='progress'>
                        <div
                            class='progress-bar progress-bar-striped progress-bar-animated'
                            role='progressbar'
                            aria-valuemin='0'
                            aria-valuemax='100'
                        ></div>
                    </div>
                    <br />
                    <!-- fieldsets -->
                    <fieldset class='p-0'>
                        <div class='form-card'>
                            <div class='row'>
                                <div class='col-7'>
                                    <h2 class='fs-title'>User Information:</h2>
                                </div>
                                <div class='col-5'>
                                    <h2 class='steps'>Step 1 - 4</h2>
                                </div>
                            </div>
                            <label class='fieldlabels'><strong>Name:</strong></label>
                            <input
                                class='rounded'
                                type='text'
                                name='name'
                                value="{{user.name}}"
                                placeholder='Name'
                                disabled
                            />
                            <label class='fieldlabels'><strong>Phone:</strong></label>
                            <input
                                class='rounded'
                                type='text'
                                name='tel'
                                value="{{user.tel}}"
                                placeholder='Phone'
                                disabled
                            />
                            <label class='fieldlabels'><strong>Email:</strong></label>
                            <input
                                class='rounded'
                                type='email'
                                name='email'
                                value="{{user.email}}"
                                placeholder='Email address'
                                disabled
                            />
                        </div>
                        <input
                            type='button'
                            name='next'
                            class='next action-button rounded'
                            value='Next'
                        />
                    </fieldset>
                    <fieldset class='p-0'>
                        <div class='form-card'>
                            <div class='row'>
                                <div class='col-7'>
                                    <h2 class='fs-title'>Tuition:</h2>
                                </div>
                                <div class='col-5'>
                                    <h2 class='steps'>Step 2 - 4</h2>
                                </div>
                            </div>
                            <label class='fieldlabels'><strong>Student ID: <span style='color:red'>*</span></strong></label>
                            <input
                                class='rounded'
                                type='text'
                                name='student-id'
                                id='student-id'
                                placeholder='Student ID'
                                required
                            />
                            <span class='text-danger' id="id-error"></span><br>
                            <label class='fieldlabels'><strong>Student's name:</strong></label>
                            <input
                                class='rounded'
                                type='text'
                                name='student-name'
                                id='student-name'
                                placeholder="Student's Name"
                                disabled
                            />
                            <label class='fieldlabels'><strong>Tuition:</strong></label>
                            <input
                                class='rounded tuition'
                                type='text'
                                name='tuition'
                                placeholder='Tuition'
                                disabled
                            />
                        </div>
                        <input
                            type='button'
                            name='next'
                            id="next-step-2"
                            class='next action-button rounded disabled'
                            value='Next'
                        />
                        <input
                            type='button'
                            name='previous'
                            class='previous action-button-previous rounded'
                            value='Previous'
                        />
                    </fieldset>
                    <fieldset class='p-0'>
                        <div class='form-card'>
                            <div class='row'>
                                <div class='col-7'>
                                    <h2 class='fs-title'>Checkout:</h2>
                                </div>
                                <div class='col-5'>
                                    <h2 class='steps'>Step 3 - 4</h2>
                                </div>
                            </div>
                            <label class='fieldlabels'><strong>Transactor: </strong></label>
                            <input
                                value='{{user.name}}'
                                class='rounded'
                                type='text'
                                name='transactor'
                                disabled
                                placeholder='Transactor'
                            />
                            <label class='fieldlabels'><strong>Balance: </strong></label>
                            <input
                                class='rounded'
                                type='number'
                                value='{{user.balance}}'
                                min='0'
                                placeholder='Balance'
                                disabled
                            />
                            <label class='fieldlabels'><strong>Tuition: </strong></label>
                            <input
                                class='rounded tuition'
                                type='text'
                                disabled
                                placeholder='Tuition'
                            />
                        </div>
                        <input
                            type='submit'
                            name='next'
                            class='next action-button rounded'
                            value='Pay'
                        />
                        <input
                            type='button'
                            name='previous'
                            class='previous action-button-previous rounded'
                            value='Previous'
                        />
                    </fieldset>
                    <fieldset class='p-0'>
                        <div class='form-card'>
                            <div class='row'>
                                <div class='col-7'>
                                    <h2 class='fs-title'>Finish:</h2>
                                </div>
                                <div class='col-5'>
                                    <h2 class='steps'>Step 4 - 4</h2>
                                </div>
                            </div>
                            <div class='row justify-content-center'>
                                <div class='col-7 text-center'>
                                    <h5 class='purple-text text-center'>Please wait to redirect to otp page</h5>
                                    <a href="/transactions/otp">Click here if do not redirect</a>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){

        var current_fs, next_fs, previous_fs; //fieldsets
        var opacity;
        var current = 1;
        var steps = $("fieldset").length;

        setProgressBar(current);

        $(".next").click(function(){
            

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //Add Class Active
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({opacity: 0}, {
                step: function(now) {
                // for making fielset appear animation
                opacity = 1 - now;

                current_fs.css({
                    'display': 'none',
                    'position': 'relative'
                });
                next_fs.css({'opacity': opacity});
                },
                duration: 500
            });
            setProgressBar(++current);
        });

        $(".previous").click(function(){

        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();

        //Remove class active
        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

        //show the previous fieldset
        previous_fs.show();

        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function(now) {
                // for making fielset appear animation
                opacity = 1 - now;

                current_fs.css({
                    'display': 'none',
                    'position': 'relative'
                });
                previous_fs.css({'opacity': opacity});
            },
            duration: 500
        });
            setProgressBar(--current);
        });

        function setProgressBar(curStep){
            var percent = parseFloat(100 / steps) * curStep;
            percent = percent.toFixed();
            $(".progress-bar")
            .css("width",percent+"%")
        }

        $(".submit").click(function(){
            return false;
        })


        $('#student-id').on('keyup', function(e) {
            id = $('#student-id').val().trim();
            if (!id) id = "0";
			$.get('/student/'+id, function(data) {
                if (data) {
                    if (data.tuition == 0) {
                        $('#next-step-2').addClass('disabled');
                        $('#id-error').html("Tuition has been paid");
                        $('#student-name').val(data.name);
                        $('.tuition').val('');
                    } else {
                        $('#id-error').html("");
                        $('#next-step-2').removeClass('disabled');
                        $('#student-name').val(data.name);
                        $('.tuition').val(data.tuition);
                    }
                }
                else {
                    $('#next-step-2').addClass('disabled');
                    $('#id-error').html("Invalid student ID");
                    $('#student-name').val('');
                    $('.tuition').val('');
                }
			});
		});
    });
</script>